*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
_posts/2023-01-10-refined_code_Game.md
_posts/2022-11-30-Drunk_Bird.md
_posts/2022-11-30-Drunk_Man.md
_posts/2022-11-30-fix-thing.md
_posts/2022-11-30-randomvalues.md
_posts/2022-12-07-developing-procedures.md
_posts/2022-12-07-hwalg.md
_posts/2022-12-14-dd-lesson.md
_posts/2023-01-04-hwbool.md
_posts/2023-01-04-lession6.md
_posts/2023-01-04-Stings_hw_problem.md
_posts/2023-01-04-stuffishting.md
_posts/2023-01-04-thingfoworl.md
_posts/2023-01-04-timer.md
_posts/2023-01-05-Untitled-2.md
_posts/2023-01-10-Blank_enemy_code.md
_posts/2023-01-10-counter.md
_posts/2023-01-10-test.md
_posts/2023-01-30-classes.md
_posts/2023-01-30-dictionarys.md
_posts/2023-01-30-Jason.md
_posts/2023-01-30-Object_Oriented_Coding.md
_posts/2023-02-26-pw.md
_posts/2023-03-05-cards.md
_posts/2023-03-07-AP-unit2-2.md
_posts/2023-03-07-bob.md
